<div id="<%= dom_id admin %>">
  <p>
    <strong>Username:</strong>
    <%= admin.username %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= admin.role %>
  </p>

  <p>
    <strong>Permission:</strong>
    <%= admin.permissions %>
  </p>

  <p>
    <strong>User:</strong>
    <%= admin.user_id %>
  </p>

</div>
