<%= form_with(model: admin) do |f| %>
  <% if admin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
        <% admin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :username, style: "display: block" %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :permission, style: "display: block" %>
    <%= f.select :permission,
      Admin.permissions.keys.map { |p| [p.humanize, p] }, 
      prompt: 'Select Permission', class: "permission_select"
      %>
  </div>

  <%= f.fields_for :user do |u| %>
    <%= u.label :email, style: "display: block" %>
    <%= u.email_field :email %>

    <%= u.label :password, style: "display: block" %>
    <%= u.password_field :password %>

    <%= u.label :password_confirmation, style: "display: block" %>
    <%= u.password_field :password_confirmation %>
  <% end %>

  <div>
    <%= f.submit "Create Admin" %>
  </div>
<% end %>
