<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <% if user_signed_in?  %>
      <h5>Welcome: <%= current_user.function_type.to_s %>
          <%= current_user.function.try(:username) || "#{current_user.function.surname} + '_' + #{current_user.function.lastname}" %>
      </h5>

      
      <%= link_to 'Log Out', sign_out_path %>
    
    <% else %>
      <%= link_to 'Topics', topics_path, class: 'std_padding' %> 
      <%= link_to 'Log In', new_user_session_path, class: 'std_padding'  %>
    <% end %>

    <a></a>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
